<li class="media">
    <a href="#" class="pull-left">
        <img src="img/26115.jpg" alt="Avatar" class="img-circle" width="64" height="64">
    </a>
    <div class="media-body">
													<span class="text-muted pull-right">
														<small><em>{{date}}</em></small>
													</span>
        <a href="page_ready_user_profile.php">
            <strong>tony</strong>
        </a>
        <p>
            {{content}}
        </p>
    </div>
</li>